  <title>My Stylish Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a stylish page using Bootstrap.</p>
  </div>

  <div class="opinions">
    <% @opinions.each do |opinion| %>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title"><%= opinion.title %></h5>
          <p class="card-text"><%= opinion.text %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>